<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>362287625596-vqjkf691nlgq0mdobdqi9auhfdpe29kv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.362287625596-vqjkf691nlgq0mdobdqi9auhfdpe29kv</string>
	<key>API_KEY</key>
	<string>AIzaSyCdf7gTRrOLBPvmJA8BGJAQtsKWi0hqdxE</string>
	<key>GCM_SENDER_ID</key>
	<string>362287625596</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iconkaset.dev.alberta</string>
	<key>PROJECT_ID</key>
	<string>sellcoda-shop-v2-3e018</string>
	<key>STORAGE_BUCKET</key>
	<string>sellcoda-shop-v2-3e018.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:362287625596:ios:b549e9710844bdd685a0f9</string>
</dict>
</plist>